@page "/"
@using TourUI.Model;
@using TourUI.Messaging;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Tour Selection</h1>
Name 
<br />
<input type="text" @bind=name/>
<br />
Email 
<br />
<input type="text" @bind=email/>
<br />
Tours
<br />
<select @onchange="OnSelectionChange">
    <option value="Blank">Blank</option>
    <option value="Kolding">Kolding</option>
    <option value="Middelfart">Middelfart</option>
    <option value="Odense">Odense</option>
</select>
<br />
<input @onchange="OnRadioChange" type="radio" value="Book" name="SelectedOption" /> Book
<input @onchange="OnRadioChange" type="radio" value="Cancel" name="SelectedOption" />Cancel
<br />
<input type="button" @onclick="processMessage" value="Submit"/>


@code {
    private string name = string.Empty;
    private string email = string.Empty;
    private string selectedValue = string.Empty;
    private string radioValue = string.Empty;

    private void OnSelectionChange(ChangeEventArgs e)
    {
        selectedValue = e.Value?.ToString();
    }

    private void OnRadioChange(ChangeEventArgs e)
    {
        radioValue = e.Value?.ToString();
    }

    private void processMessage()
    {
        TourMessage message = new(name, email, selectedValue, radioValue);
        TourMessageHandler messageHandler = new();
        messageHandler.SendMessage(message);
    }

}

















<style>
     /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 
</style>